.info{
    background-color: antiquewhite;
    height: max-content; 

    padding: 8%;
}

.contenedorcards{
    
    padding: 1em;
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 15px;

    
}

[class*="card-"]{
    
    color: #414BB2;
    background-color: #ffffff90;
    border-color: #3498db00;
    padding: 25px;
    border-radius: 15px;
    height: max-content;
    display: flex;
    flex-direction: column;
    justify-content: center;

    
    
    
    
    
}

[class*="card-"] button{
height: 2.5em;
width: 100%;
border-radius: 15px;
border-color: #414BB2;
color: #414BB2;
background-color: #ffffff00;
font-family: "Poppins", sans-serif;
font-weight: 800;
}

.card{
    margin: 0.5vh;
    color: #414BB2;
    background-color: #3498db00;
    border-color: #3498db00;
}

.imginfo{
    width: 100%;
    height: 50%;
    object-fit: cover;
    border-radius: 25px;
}

.contenedorcards p{
    height: 150px;
    text-align: center;
    background-color: #414ab200;
    
}



[class*="card-"]:hover .imginfo {
    -webkit-transform:scale(1);transform:scale(1.045);

}
[class*="card-"]{
    overflow:hidden;
}

button:hover{
    background-color: #414BB2;
    color: white;
}

h3{
    font-family: "Fredoka", sans-serif;
    font-style:normal;
    font-variation-settings:"wdth" 100;
    font-size: 3vh;
    margin-top: 2vh;
    margin-bottom: 3vh;
    color: #414BB2;

}



p{
    font-size: medium;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #414BB2;
   

}



@media(max-width: 1120px){
    
    .contenedorcards{
        grid-template-columns: repeat(1, 1fr);
    
        }

        [class*="card-"]{
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-around;
        }

    .imginfo{
        width: 20%;
        height: 40%;

    }
    .contenedorcards  p{
            font-size: small;
            line-height: normal;
            height: max-content;
            padding-left: 2%;
            padding-right: 2%;


        }
    

    .contenedorcards button{
        width: 100px;
        height: 50px;
        margin-left: 2%;
    }
    h3{
        font-size: large;
        text-align: left;
        margin-bottom: 1%;
    }
}

@media(max-width: 820px){
    .contenedorcards p{
        font-size: small;
        line-height: normal;
       
        height: max-content;
        padding-left: 3%;
        padding-right: 3%;


    }
    .imginfo{
        width: 30%;
        height: 100%;
        
    }
}

@media(max-width: 600px){
    .contenedorcards{

    grid-template-columns: repeat(1, 1fr);

    }

    [class*="card-"]{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }

    .imginfo{
        width: 100%;
        height: 100%;
        

    }
    .contenedorcards p{
        font-size: small;
        line-height: normal;
    }
    h3{
        font-size: large;
    }
    .contenedorcards button{
        height: max-content;
    }

}
